
.container {
  /* Basic container styles */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;


  overflow-x: visible; /* Ensure no horizontal scrolling */
}
